html {
  box-sizing: border-box;
}
*,
*::before,
*::after {
  box-sizing: inherit;
}

.gallery {
  display: flex;
  list-style: none;
  justify-content: space-between;
  margin-right: 30px;
  margin-left: 30px;
  padding: 0;
}
.image {
  box-shadow: 6px 7px 5px 1px rgba(0, 0, 0, 0.36);
}

#validation-input {
  border: 3px solid #bdbdbd;
}

#validation-input.valid {
  border-color: #4caf50;
}

#validation-input.invalid {
  border-color: #f44336;
}

div#boxes {
  display: flex;
  flex-wrap: wrap;
  align-items: center;
}
